body {
   
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    margin: 0 auto;
}

a {
	text-decoration: none;
}

div{

	display: block;
}
h1 ,h2, h3{

    color: #FFF;
    font-weight: 100;
}
ol ul {
    display: block;
    list-style-type: decimal;
   
}

.mob-menu{
    display: none;
}
.nav-container{
	height: 70px;
	padding : 0;
    margin: 0 auto;
  
   width: 100%;
  max-width: 940px;
    
  
	

}

.comverse-header{
	background: #FFF none repeat scroll 0% 0%;
	padding: 0px;
    margin:0px;
    width: 100%;
	position: fixed;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
	
}
.logo{
	float: left;
    margin-top: 5px;
    margin-left: 1%;
}

.lan-login-link {
    position: absolute;
    float: right;
    display: inline-block;
    padding-right: 0px;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.lan-login-link > a{
    color:  #717171;
    margin-left: 7px;
}
.lan-login-link a:hover{
    color: #4db2ff;
    text-decoration: underline;
}
.lan-select{
    background-color:#FFF;
    appearance:none; 
    border: none;
}
.navbar{
	float: left;
	margin-top:25px;

}
.nav{
      margin-left: -20px;
}
.nav li{
	display: inline-block;
	list-style: none;
	margin: 7px;
}
.nav li a img{
    padding-left:15px;
}
.nav a{
    font-size: 14px;
    color: #717171;
}
@media{
    .nav a:hover{
        
        color:#4db2ff;
       
    }
}


.form-container{

	position: absolute;
	margin-top:3.4%;
    margin-left: 1%;
	display: inline-block;
	float: right;
    padding-left: 0px;
    padding-right:-10px;
    border-radius: 5px;
    border: 1px solid;
    border-color:  #CCC;
}
.form-container input{
	   
    width: 93px;
    padding: 0px 0px 0px 7px;
    padding-left: 4px;
    border: 1px solid #CCC;
    margin-top: 3px;
	border-color: white;	
    margin-left: 2px;
    display: inline-block;   
    outline: medium none;

}

.form-container button {
	background:center;
    background-position: right center;
   background-color: transparent;
    border: medium none;
    margin-right: 0px;
    padding-top: 5px;
    cursor: pointer;
      outline: medium none;
}

.search-line{
    margin-bottom: -5px;
}

.mobile-navbar{
    display: none;
}

.main-section {  
    padding-top: 7%;
	background: transparent url("../img/slide-bg-complexity.jpg") no-repeat fixed center center ;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}
.main-section ul{
    list-style: none;
    position: relative;
}

.section-container {
    min-width: 40%;
    max-width: 940px;
    position: relative;
    padding: 0px;
    margin: 0px auto;

}
.main-section h1{
    
    font-size:34px;
    display: block;

}
.main-section h3{
    
    margin-bottom: 31px;

}
.learn-more-btn {
    background:#2E97CB;
    color:#FFF;
    padding: 9px;
    border-radius: 6px;
    margin-left: -2px;
    margin-bottom: 40px;
    font-size: 13px;
   
}

.learn-more-btn:after{
    padding-left: 40px;
    padding-right: 5px;
    content: url(..//img/btnArrow.png);
}
@media{
    .learn-more-btn:hover{
        background: #2b8cb8;
    }
}

.slides-control{
    padding: 3%;
    list-style-type: none;
    margin-left: 14px;
    padding-bottom: 6%;
    width: 10%;
}

 .slides-control li{
    cursor: pointer;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #E7E9E7;
    float: left;
    margin-left: 0.9%;
    padding: 0;
    border-radius: 3px;
    margin-right: 6px;
    
}

.slides-control li:hover{
    background-color:#318bad;
    cursor: pointer;

}
li.selected {

    background-color: #318bad;
}

#purple-card {
        background-color: #FA4396;
    }
#green-card{
background-color: #64C23B;

}

#orange-card{

    background-color: #F77318;
    margin-left: -5px
}

.transparent-card{
    
    display: inline-block;
    margin-right: 3%;
    
    padding: 0px 14px 14px;
    width: 26.5%;
    cursor: pointer;
    border-radius: 8px;
    list-style-type: none;
    box-shadow: 0px 1px 3px 0px gray;
}
.transparent-card section h2{
    font-size: 20px;
    line-height: 27px;

}



.transparent-card{
opacity: 0.9;}
.transparent-card:hover {
opacity: 1; }





.main-cards{
  
    margin-top: 15px;
    padding-bottom: 15px;
   

}

.transparent-card   section  a {
    font-size: 15px;
    color: white;
}

.our-solutions{
        margin-top: -25px;
      
       
        background: url(../img/weDoBG.png) repeat scroll 0 0,linear-gradient(80deg, #318bad, #56b7d6, #318bad);
}
.solutions-list{

    list-style: none;
    display: inline-block;


}
.our-solutions h1{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;

}
.solutions-list li{
    display: inline-block;
    width: 147px;
    height:150px;
    margin:0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    float:left;
}
.solutions-list li a figure
{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.solutions-list li a{
    color: #FFF;
}

.solutions-list .figcation{
   font-size: 14px;
    margin-top: 40%;
}
.sol-1{
   
    height:50px;
    background-image: url("../img/solution_icon_biz-analitics.png");
    background-position-x: 50%;
    background-position-y: 50%;
    padding-top: 20px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;      
}
.sol-2{
    height:50px;
    /*margin-right: 15px;*/
    background-image: url("../img/solution_icon_diti-cx.png");
    background-position-x: 50%;
    background-position-y: 50%;
    padding-top: 20px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}
.sol-3{
   /* margin-right: 15px;*/
    height:50px;
    background-image: url("../img/solution_icon_smart-money.png");
    background-position-x: 50%;
    background-position-y: 50%;
    padding-top: 20px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}
.sol-4{
    height:50px;
    margin-left: 15px;
    background-image: url("../img/solution_icon_optimize-efficnt.png");
    background-position-x: 50%;
    background-position-y: 50%;
    padding-top: 28px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}
.sol-5{

    height:50px;
    background-image: url("../img/solution_icon_personal.png");
    background-position-x: 50%;
    background-position-y: 50%;
    padding-top: 20px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}
.sol-6{
     height:50px;
    background-image: url("../img/solution_icon_biz-transform.png");
    background-position-x: 50%;
    background-position-y: 50%;
    padding-top: 20px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}
.sol-1:hover{
    background-image: url("../img/solution_icon_biz-analitics_hover.png");
     color: #79D2FF;
}
.sol-2:hover{
    background-image: url("../img/solution_icon_diti-cx_hover.png");
    color: #79D2FF;
}
.sol-3:hover{
    background-image: url("../img/solution_icon_smart-money_hover.png");
    color: #79D2FF;
}
.sol-4:hover{
    background-image: url("../img/solution_icon_optimize-efficnt_hover.png");
    color: #79D2FF;
}
.sol-5:hover{
    background-image: url("../img/solution_icon_personal_hover.png");
    color: #79D2FF;
}
.sol-6:hover{
    background-image: url("../img/solution_icon_biz-transform_hover.png");
    color: #79D2FF;
}


.figure{

    display: block;
}

.more-sol{
    position: relative;
     margin-left: 40%;
    margin-top: -10px;
    padding-bottom: 5%;
}
.more-sol img{
    width: 10px;
    height: 12px;
    padding-left: 3px; 
}
.more-btn{
    background: linear-gradient(80deg, #318bad,#318bad, #318bad);
    padding: 9px;
    color:#FFF;
    font-size: 13px;
    border-radius: 7px;
    padding-right: 12px;
    padding-left: 12px;
}
.more-btn:after{
      padding-left: 7px;
    content: url(..//img/btnArrow.png);
}
@media{
    .more-btn:hover{
        background: #2b8cb8;
    }
}
.events-section{
    padding-top: 85px;
    background: transparent url("../img/news-and-events-bg.jpg") no-repeat fixed center center / cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
     height: 350px;
    
}

.events-section h1{
   text-align: center;
    font-size: 30px;
    margin-top: -3%;
}
.events-section h2{
    margin-bottom: 1.5%;
}

.events-list{
    list-style: none;
    
    margin-left: -4%;
}

.events-list li{

    display: inline-block;
    width: 29.4%;
    padding: 15px;
}


.events-list article {
   
    background-color:rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    padding: 12px;
    height: 95px;

}
.event-date{

    color:#FFF;
  border-radius: 3px;
    float: left;
    width: 20%;
    height: 80px;
  padding: 3%;
  margin-right: 4%;
  background-color: #3399CC;
}
.event-date > span {
  text-align: center;
  display: block; 
   font-size: 15px;
  font-weight: lighter;
}
.event-date > hr {
    margin: 15% -13%;
    
    border-width: 1px;
    
    border-style: dotted;
}

.event-date > span:first-child {
     font-size: 40px;
     font-weight:bolder;
    
   }
.events-list p{
    margin-top: 0px;
    color: black;
    font-size: 13px;
    line-height: 18px;

}
.events-list li a section{
    padding-bottom:10px;
}

@media {
    .events-list li article:hover{
        background-color:rgba(255, 255, 255, 1);
}

}
 .all{
    color:#FFF;
   
}

@media{
    .all :hover{
    color:black;   
}


.all-news{
    margin-top: -20px;
}
.all-news:before{
   content: url("../img/eventListIconNews.png");
}

.all-news:hover:before {
  content: url("../img/eventListIconNews_hover.png"); }
}


.all-events:before{
     content: url("../img/eventListIconEvents.png");
       
}

.all-events:hover:before {
  content: url("../img/eventListIconEvents_hover.png"); }

.all-press:before{
    content: url("../img/eventListIconPress.png");
}
.all-press:hover:before{
    content: url("../img/eventListIconPress_hover.png");
}



/****** Succes Stories *********** */

.success-stories{
    padding-top: 10px;
    background-color: #ececec;
    text-align: center;
    background-size: cover;
    height: 500px;
    box-shadow: inset 0px 3px 10px 3px #CCC;
}

.success-stories h1 {
    color:#717171;
    padding: 4% 0;
    text-align: center;
    margin: 0 auto;
    font-size: 28px;  
}

.stories-list{
    padding: 0; 
    float: left;  
    margin-top: -20px;
    margin-left: 1.5%;
}

.stories-list  li{
    display: inline-block;
    width: 34%;
    float: left;
    margin: 4px;
    padding: 2px;
    font-size:12px;

}

.last-stories-list{
    width: 26% !important;
    float: left; 
}

.stories-blockquote{
    background-color: white;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    height: 180px;
}

.stories-blockquote > p{
    height: 80px;
    padding: 15px;
    border-bottom: 1px solid #DDDDDD;
    color: #565656;
    text-align: left;
    font-size: 16px; 
}
.stories-blockquote >p:before{
    content: url("../img/quote-grey.png");
}

.stories-blockquote > img{
    float: left;
    padding: 8px;
    height: 90px;
    width: 90px;
    margin-left: 2px;
}

.details{
    text-align: left;
    padding-left: 10px;
    display: inline-block;
    float: left;
}



.details  p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 2px;
}
.details p:first-child
{
    color:#47ACDD;
}

.person-logo{
    float: right;
    max-width: 101%;
}
#mob-logo{
    margin-top: -11px;
}

.logos{
    margin-top: 5px;
    width:104%;
    margin-left: -2px;
}
.stories-list  li:first-child .logos{
     margin-left: -4px;
     width: 104%;
}

.logos-middle{
    margin-top: 16.5px !important;
    margin-bottom: -4px !important;
    width: 104%;
    margin-left: -4px;
}

.company {
    display: inline-block;
    width: 30%;
    margin: 0px 5px 0 0;
    background: #FFF;
    border-radius: 3px;
    text-align: center;
}
.company > img{
    width: 100%;
    height:90px;
}

.last-comp-logo{

    width: 46%;
}
.more-stories a > img{
    width: 10px;
    height: 10px;
    padding-left: 7px;
    margin-top: 2px;

}













/************** footer ******** */
footer{
    
padding-top: 0; 
 background: linear-gradient(80deg, #222221, #313131, #222221);
 padding: 0;
    height: 350px;
    width: 100%;
    margin: 0;

}
.links-column  h2,h3{
    font-size: 16px !important;
}
.footer-section{

    max-width: 960px;
    min-width: 700px;
    width: 960px;
    margin: 0 auto;
    color: #EEEEEE;
}

.footer-links {
    position: relative;
  width: 70%;
  float: left;
  }
.footer-links p{
    position: absolute;
    float: left;
    font-size: 10.5px;
    bottom: -23%;
    margin-left: 3%;
    color: #9E9E9E;
}
.footer-links p a{
    color:#9E9E9E;
}
.footer-links p a:hover{
    color: #EEEEEE;
}

.links-column {
  width: 33%;
    box-sizing: border-box;
    padding: 0 3%;
    float: left;

}
.links-column ul{
    list-style: none;
    padding-left: 0px;
    width: 132%;
}
.links-column li{
    font-size: 11px;
    margin-bottom: 4%;
}
.links-column a{
    color: #EEEEEE;
}
.links-column a:hover{
    color: #2b8cb8;
    text-decoration: underline;

}

.links-column h5{
    font-weight: lighter;
}

.blogs{
    width: 30%;
  float: left;
  background-color: rgba(255, 255, 255, 0.15);
  height: 100%; 
  margin-left: -5%;

}
.blogs h4{
    
    color:#4EA7D3;
    position: relative;
    margin-left: 12%;
}
.blogs h4:first-child{
    text-align: center;
}
.blogs hr{

    margin: 9% 14%;
    margin-bottom: 0px;
    border-width: 1px;
    
}

.date {
  float: left;
  padding: 0.3em; }

.date > span {
  text-align: center;
  display: block; 
  padding-top: 5%;
   font-size: 25px;
  font-weight: lighter;
}

.date > span:first-child {
     font-size: 55px;
    padding-top: 0px;
 font-weight: bold;
  margin: -0.2em 0.2em;
   }

.blog-post{
    padding-left: 5%;
   }
.blog-post p{
    margin-right: 10%;
    margin-left: 5%;
    font-weight: lighter;
    color: #EEEEEE;
    line-height: 27px;
}
.blog-post  a{
    color: #EEEEEE;
}
.blog-post  a:hover{
    color:#9E9E9E;
}
.blog-post  h4:hover{
    color:#9E9E9E;
}
.subscribe-form button{
    border-style: none;
    color: #EEEEEE;
    background: linear-gradient(80deg, #4EA7D3, #3EA0C6,#4EA7D3);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 26px;
    width: 30%;
    float: right;
    padding: 0;
      outline: medium none;


}
.subscribe-form button:hover{
    background:linear-gradient(80deg, #3EA0C6, #2b8cb8, #3EA0C6);;
}
.subscribe-form input{

    border-radius: 4px;
    width: 66%;
    height: 26px;
    margin: 0;
    padding: 0 0 0 5px;
    border: none;
    border-radius: 2px;
    background: white;
      outline: medium none;
}
.subscribe-form{
   
    position: absolute;
    width: 16%;
    margin-left: 3%;
    border-color:  #CCC;
    background-color: #FFF;
    border: none;
    border-radius: 2px;
    outline: none;
    background: white;

}
 
 .external-links{
    position: relative;
    margin-left: 14%;
    margin-top: 35%;
 }
 #you-tube-icon:before{
   content: url("../img/socialMenuIcon-youtube.png");
        display: inline;  
 }
 #you-tube-icon:hover:before{
   content: url("../img/socialMenuIcon-youtube_hover.png");
        display: inline;  
 }

#twitter-icon:before{
   content: url("../img/socialMenuIcon-twitter.png");
        display: inline;  
 }
 #twitter-icon:hover:before{
   content: url("../img/socialMenuIcon-twitter_hover.png");
        display: inline;  
 }

#linked-in-icon:before{
   content: url("../img/socialMenuIcon-linkdin.png");
        display: inline;  
 }

#linked-in-icon:hover:before{
   content: url("../img/socialMenuIcon-linkdin_hover.png");
        display: inline;  
 }

.mob-footer{
    display: none;
}
.slides-control-mob{
    display:none;
    }

/***** MEDIA MEDIA  MEDIA   **/

/* ******************************************* */

input[type=checkbox]{
    display: none;
}

@media all and (max-width:769px) {

   .navbar{
    display: none;
   } 
   .lan-login-link{
    display: none;
   }
   .form-container{
    display: none;
   }
   .mobile-navbar{
    display: block;
   }
   .logo{
        margin-left: 40%;
        padding-bottom: 2%;
   }

   .mob-menu{
    display: block;
   width: 36%;
    max-width: 300px;
    float: left;
    position: relative;
    margin-top: -8%;
    padding: 1%;
   }
   .mob-menu-btn{
    background:linear-gradient(to bottom, #f2f2f2 0%, #e5e5e5 100%);
    border: 1px solid #d9d9d9;
    float: left;
    width: 40px;
    height: 40px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
   }

   .mob-menu-btn:after{
    content: '';
    position: absolute;
    width: 65%;
    height: 4px;
    background: #a0a0a0;
    top: 8px;
    left: 16%;
    box-shadow: 0 7px 0 #a0a0a0,0 14px 0 #a0a0a0, 0 21px 0 #a0a0a0
   }
    .mob-nav{
       
        display: none;
        pointer-events: auto;
        transform: translateY(0px);
        margin: 5px 0 0 0;
        position: absolute;
        width: 100%;
        padding: 0;
        list-style: none;
        margin-top: 18%;
        margin-left: -3%;
        z-index: 1;

    }
    .mob-nav > li{
        position: relative;
    }

    .mob-nav > li > a{
    display: block;
    position: relative;
    padding: 10px 82%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;

    outline: none;
    background-color: white;
    margin: 0;
   /* padding: 0 20px;*/
    height: 2rem;
    text-transform: uppercase;
    display: block;
    text-align: center;
    width: 100%;
    color: #585951;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #fff;
    font: 14px Arial;
    text-decoration: none;
    line-height: 2.1rem;
    }
.mob-nav > li > a:hover{
    color: #4db2ff;
}
  #menu-open:checked ~ .mob-nav {
       display: block;
      
    }
.main-section{
     background-attachment:none;
}
.highlights{

    padding: 0px;
    list-style: none;
   
    padding-bottom: 20px;
    margin-bottom: -2.23em;
}
.first-slide{
    background: url(../img/weDoBG.png) repeat scroll 0 0, radial-gradient(ellipse at center, rgba(89, 190, 219, 0.9), rgba(51, 153, 204, 0.9));
     display: block;
    margin-bottom: 20px;
    padding-bottom: 1px;
 


}
.slide-content{
   
    margin-left: 10px;
    padding-top:10px;
   /*padding-bottom: 5px;*/

}
.learn-more-btn{
    /*margin-top: 7%;*/
     margin-left: 1%;
}
.slides-control{
    display: none;
}


.slides-control-mob{
    display: block;
     padding: 3%;
    list-style-type: none;
    margin-left: -12px;
   
    margin-top: 25%;
   
}
.slides-control-mob li{
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #565656;
    line-height: 30px;
     display: inline-block;
    background-color: #E7E9E7;
    float: left;
    margin-left: 0.9%;
    padding: 0;
    border-radius: 3px;
    margin-right: 6px;
    
}
li.selected{
    background-color: #318bad;
    color:#EEEEEE;
}
.slides-control-mob li:hover{
    background-color:#318bad;
    color: #EEEEEE;
    cursor: pointer;

}
.transparent-card{
    display: block;
    width:auto;
    height: 150px;
    margin-left: -6%;
    border-radius: 0px;
    display: block;
    height: 150px;
    border-radius: 0px;
    margin: 0;
    width:auto;
    opacity:1;
    margin-top: 10px;
}
.main-cards{
    padding: 0;
    list-style: none;
    margin-top: 25px;
    padding-bottom: 20px;
    margin-bottom: -2.23em;
}

.transparent-card   h2{
    padding-top: 3%;
}

.solutions-list li{
   width:32%;
   padding-bottom: 6%;
    }
.more-sol{
    display: none;
}

/** mobile events   */
.events-section{
    height: 790px;

}
.events-list > li{
    display: block;
    width: auto;
    list-style-type: none;
}

.event-date{
    width: 70px;
    height: 90px;
    padding: 0px;
    padding-top: 1%;

}

.event-date > hr {
    margin: 10% 1%;
}

/***** success stories ***/
.success-stories{
    height: 820px;
}
.stories-list li{
    width:73%;
    float: none;
    
}
.company {
    /*background-color: #ececec;*/
}
.company > img{
    width: 70%;
    height: 
}
.stories-list > li:last-child{
    display: none;
    }


/*** mobile footer **/
.footer-links, .blogs{
    display: none;  
}
footer{
    height: 200px;
    background-image:url(../img/footer-bg.png);
}

.mob-footer{
    display: block;
}
.mob-footer-list{
     list-style-type: none;
        margin: 0;
        padding: 0;
}
.mob-footer-list > li{
    color: #FFF;
    list-style: none;
    padding: 12px;
    border-bottom: 1px solid black;
    

}
.mob-footer-list > li>a:hover{
     color:#d2d2d2;
     text-decoration: underline;
}
.mob-footer-list > li>a{
    cursor: pointer;
}
.lan-select{
    background-color: #424242;
    position: relative;
    height: 28px;
    width: 15%;
    border-radius: 0px;
    margin-left: 2%;
    color: #fff;
    font-size: 13px;
    outline: medium none;
    cursor: pointer;
}
}
.blog-icon{
    padding-left:5%; 
}
.copy-rights > a{
    
    color:#565656;
}
.copy-rights{
    height:20px;
    font-size: 13px;
    text-align: center;
    font-weight: bolder;
}



.hidden{
    display: none;
}


