input{
width: 105px;
height: 20px;
border: medium none;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: -moz-use-text-color;
    border-right-color: -moz-use-text-color;
    border-bottom-color: -moz-use-text-color;
    border-left-color: -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
margin: 0px 5px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
background: #FFF url("img/divider.png") no-repeat scroll right center;
    background-color: #FFF;
    background-image: url("img/divider.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
outline: medium none;

}